﻿.top-area
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 20px 40px 10px 40px;
}

.info-area
{
	display: flex;
	flex-flow: column;
	padding: 0px 40px 10px 40px;
}

.info-area > .row > .form-group
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-bottom: 0.5rem;
}

.info-area .form-control
{
	border: 1px solid #D0B8F5;
	transition: border 0.3s, box-shadow 0.3s;
}

.info-area .form-control:focus
{
	border: 1px solid #D0B8F5 !important;
	box-shadow: 0px 0px 10px #D0B8F5 !important;
}

.info-area > .row > .form-group > *,
.form-group > .custom-file > .custom-file-label,
.custom-file-input ~ .custom-file-label::after
{
	font-size: 1.2rem;
}

.info-area > .row > .form-group > label
{
	white-space: nowrap;
	margin-bottom: 5px;
}

.go-back
{
	padding: 0;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-back > *
{
	color: #023859;
	margin-right: 10px;
	font-size: 1.5rem;
	transition: color 0.3s;
}

.go-back:hover > *
{
	color: #D0B8F5;
	text-shadow: none;
}

.submit-post
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #D0B8F5;
	transition: box-shadow 0.3s;
}

.submit-post:hover
{
	box-shadow: 0px 0px 10px #D0B8F5;
}

.submit-post > .btn-icon
{
	margin-right: 5px;
}

.submit-post > *
{
	color: #FCFCFC;
}

.fifth
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #D0B8F5;
	transition: box-shadow 0.3s;
}

.fifth:hover
{
	box-shadow: 0px 0px 10px #D0B8F5;
}

.fifth > .btn-icon
{
	margin-right: 5px;
}

.fifth > *
{
	color: #FCFCFC;
}

.form-group > .custom-file > .custom-file-label
{
	white-space: nowrap;
	overflow: hidden;
}

.custom-file-input ~ .custom-file-label::after
{
	content: "찾아보기";
	width: 80px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	white-space: nowrap;
}


#cke_editor
{
	margin: 0 40px 0 40px;
}
