﻿.a-suppress
{
	color: #131313;
	transition: color 0.3s, text-shadow 0.3s;
}

.a-suppress:hover
{
	color: #D0B8F5;
	text-shadow: 0px 0px 10px #D0B8F5;
}

.page-back
{
	width: 100%;
	padding: 15px 15px 10px 15px;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.go-back
{
	padding: 0;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-back > *
{
	color: #023859;
	margin-right: 10px;
	font-size: 1.5rem;
	transition: color 0.3s;
}

.go-back:hover > *
{
	color: #D0B8F5;
	text-shadow: none;
}

.search-area
{
	width: 100%;
	padding: 10px 15px 0px 15px;
	display: flex;
	flex-flow: row nowrap;
}

.search-option-1
{
	width: 107px;
	border: 1px solid #D0B8F5;
	background: #D0B8F5;
	color: #FCFCFC;
	margin-right: 5px;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.search-option-2
{
	width: 80px;
	border: 1px solid #D0B8F5;
	background: #D0B8F5;
	color: #FCFCFC;
	margin-right: 5px;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.fourth
{
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #D0B8F5;
	transition: box-shadow 0.3s;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.fourth:hover
{
	box-shadow: 0px 0px 10px #D0B8F5;
}

.fourth > .btn-icon
{
	margin-right: 5px;
}

.fourth > *
{
	color: #FCFCFC;
}

.search-user
{
	width: 100%;
}

.search-text-admin
{
	border: 0;
	font-size: 1.2rem;
}

.search-user > .search-text-admin
{
	width: 100%;
	box-sizing: border-box;
}

.search-user > .user-search-btn
{
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-user > .user-search-btn > *
{
	color: #D0B8F5;
	transition: color 0.3s, text-shadow 0.3s;
}

.form-control
{
	transition: box-shadow 0.3s;
}

.custom-switch
{
	width: 100%;
	min-height: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px !important;
}

.form-control:focus
{
	box-shadow: 0 0 10px #D0B8F5;
}

.search-bar-second
{
	display: flex;
	flex-flow: row nowrap;
	background: #FCFCFC;
	border-radius: 0.25rem;
	transition: box-shadow 0.3s;
	border: 1px solid #D0B8F5;
	transition: border 0.3s, box-shadow 0.3s;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.table
{
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.table td
{
	vertical-align: middle;
}

table
{
	display: flex;
	flex-flow: column;
	width: 100%;
}

thead
{
	flex: 0 0 auto;
	background: #D0B8F5;
}

tbody
{
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

tr
{
	width: 100%;
	display: table;
	table-layout: fixed;
}

.d-table-cell, .d-md-table-cell, .d-xl-table-cell
{
	vertical-align: middle !important;
}

.table-responsive
{
	width: 100%;
	padding: 10px 15px 10px 15px;
}

.table
{
	max-height: 500px;
	overflow-y: auto;
	margin: 0;
}

.table-header
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	color: #FCFCFC;
}

.table-body
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	white-space: normal;
	text-align: center;
}

.product-title
{
}

.third
{
	padding: 0;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.third > .btn-icon
{
	font-size: 1.1rem;
	transition: color 0.3s;
}

.edit-product > .btn-icon
{
	color: #023859;
}

.edit-product:hover > .btn-icon
{
	color: #0378A6;
	text-shadow: none;
}

.remove-product > .btn-icon
{
	color: #FF4430;
}

.remove-product:hover > .btn-icon
{
	color: #FF7C71;
	text-shadow: none;
}

.thumbnail-image
{
	width: 100px;
	border-radius: 0.25rem;
	object-fit: contain;
}
