﻿.datepicker--day-name, .datepicker--button
{
	color: #FFC3BD !important;
}

.datepicker--cell.-selected-.-focus-
{
	background: #FFC3BD !important;
}

.page-back
{
	width: 100%;
	padding: 15px 15px 10px 15px;
	display: flex;
	flex-flow: row nowrap;
}

.go-back
{
	padding: 0;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-back > *
{
	color: #023859;
	margin-right: 10px;
	font-size: 1.5rem;
	transition: color 0.3s;
}

.go-back:hover > *
{
	color: #FFC3BD;
	text-shadow: none;
}

article .container-fluid
{
	padding: 0px 15px 10px 15px;
}

article .row
{
	padding: 0px;
}

.section
{
	height: 370px;
	padding: 10px;
}

.search-area
{
	width: 100%;
	height: 45px;
	display: flex;
	flex-flow: row nowrap;
	background: #FCFCFC;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

.search-option
{
	border-radius: 0.25rem;
}

.search-option-1
{
	width: 120px;
	height: 100%;
	border: 1px solid #FFC3BD;
	background: #FFC3BD;
	color: #FCFCFC;
	margin-right: 5px;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.date-picker
{
	cursor: initial;
}

.search-bar-second
{
	display: flex;
	flex-flow: row nowrap;
	background: #FCFCFC;
	border-radius: 0.25rem;
	border: 1px solid #FFC3BD;
	transition: border 0.3s, box-shadow 0.3s;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.search-bar-second:not(:focus)
{
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.date-picker:read-only
{
	background: #FCFCFC;
}

.datepicker
{
	z-index: 1001;
}

.small-input
{
	font-size: 1.2rem;
}

.-in-range-
{
	background: rgba(255, 195, 189, 0.4) !important;
}

.search-user
{
	width: 100%;
	height: 100%;
}

.search-text-admin
{
	border: 0;
	font-size: 1.2rem;
}

.search-user > .search-text-admin
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #FCFCFC;
}

.search-user > .user-search-btn
{
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FCFCFC;
}

.search-user > .user-search-btn > *
{
	color: #FFC3BD;
	transition: color 0.3s, text-shadow 0.3s;
}

.colorized, select.colorized, select.colorized > option
{
	background: #FFC3BD;
	background-color: #FFC3BD;
	color: #FCFCFC;
}

.info-area
{
	background: #FCFCFC;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding: 30px 10px 10px 10px;
}

.list-area
{
	background: #FCFCFC;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	width: 100%;
	height: calc(87% - 5px);
}

.table-header
{
	display: inline-block;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	color: #FCFCFC;
	white-space: nowrap;
}

.table-body
{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	white-space: normal;
	text-align: center;
	white-space: nowrap;
}

tbody tr
{
	cursor: pointer;
}

#product-list .table-body
{
	white-space: normal;
}

tr, th, td
{
	border: none !important;
	vertical-align: middle !important;
}

.thumbnail-image
{
	width: 80px;
	object-fit: contain;
}

th
{
	background: #FFC3BD;
}

td
{
	background: #FCFCFC;
	transition: background 0.3s;
}

thead th
{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

thead th:first-child
{
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 3;
}

tbody td:first-child
{
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 2;
}

.search-option
{
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.dropdown-menu
{
	width: 315px;
	padding-top: 20px;
	margin-top: 5px;
	border: none;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover
{
	background: none;
}

.dropdown-item:active > label, .dropdown-item:focus > label, .dropdown-item:hover > label
{
	color: #131313;
}

.btn-basic
{
	width: 100%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #FCFCFC;
	border: 1px solid #CED4DA;
}

.btn-basic > *
{
	color: #023859;
}

.btn-basic > .btn-icon
{
	margin-right: 5px;
}

.btn-reversed
{
	width: 100%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #023859;
	border: 1px solid #CED4DA;
	transition: background 0.3s;
}

.btn-reversed:hover
{
	background: #03588C;
}

.btn-reversed > *
{
	color: #FCFCFC;
}

.btn-reversed > .btn-icon
{
	margin-right: 5px;
}

.irs span
{
	transition: none;
	font-size: 0.9rem !important;
}

.control-set
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	margin-bottom: 10px;
}

.input-set
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	margin-bottom: 10px;
}

.input-set > .btn:first-child
{
	margin-bottom: 10px;
}

.control-set > label
{
	white-space: nowrap;
	margin-right: 10px;
}

.btn-third
{
	width: 100%;
	transition: background 0.3s;
	border: 1px solid #FFC3BD;
	background: #FFC3BD;
}

.btn-third > *
{
	color: #FCFCFC;
	transition: color 0.3s;
}

.btn-third:not(:disabled):hover
{
	background: #FCFCFC;
}

.btn-third:not(:disabled):hover > *
{
	color: #FFC3BD;
}

.hovered td
{
	background: #EFEFEF;
}

.selected td
{
	background: #DFDFDF;
}

.item-fully td
{
	background: #77e520;
}

.item-warning td
{
	background: #eec029;
}

.item-somethings-wrong td
{
	background: #eb5f5f;
}

#popup-container
{
	display: none;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.75);
}

.popup .title
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.popup
{
	display: none;
	position: relative;
	width: 90%;
	max-width: 480px;
	height: 90%;
	max-height: 600px;
	background: #FCFCFC;
	border-radius: 0.25rem;
	padding: 30px;
	overflow: auto;
}

.popup label
{
	margin-bottom: 10px;
	height: 20px;
}

.dropdown-menu .form-control
{
	border: 1px solid #FFC3BD;
}

.popup .form-control
{
	border: 1px solid #FFC3BD;
	height: calc(100% - 20px);
}

.popup .btn
{
	background: #FFC3BD;
	width: 100%;
	transition: background 0.3s, border 0.3s;
}

.popup #message-content
{
	height: calc(100% - 90px);
}

.popup #message-send
{
	height: 60px;
}

#message-content textarea
{
	resize: none;
}

.popup .btn > .btn-icon, .popup .btn > .btn-text
{
	color: #FCFCFC;
	font-size: 1.2rem;
	transition: color 0.3s;
}

.popup .btn:not(:disabled):hover
{
	background: #FCFCFC;
	border: 1px solid #FFC3BD;
}

.popup .btn:not(:disabled):hover > .btn-icon, .popup .btn:not(:disabled):hover > .btn-text
{
	color: #FFC3BD;
}