﻿.page-back
{
	width: 100%;
	padding: 15px 15px 10px 15px;
	display: flex;
	flex-flow: row nowrap;
}

.go-back
{
	padding: 0;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-back > *
{
	color: #023859;
	margin-right: 10px;
	font-size: 1.5rem;
	transition: color 0.3s;
}

.go-back:hover > *
{
	color: #B0C8EB;
	text-shadow: none;
}

.search-area
{
	width: 100%;
	padding: 10px 15px 0px 15px;
	display: flex;
	flex-flow: row nowrap;
}

.search-option
{
	width: 100px;
	border: 1px solid #B0C8EB;
	background: #B0C8EB;
	color: #FCFCFC;
	margin-right: 5px;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.search-user
{
	width: 100%;
}

.search-text-admin
{
	border: 0;
	font-size: 1.2rem;
}

.search-user > .search-text-admin
{
	width: 100%;
	box-sizing: border-box;
}

.search-user > .user-search-btn
{
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-user > .user-search-btn > *
{
	color: #B0C8EB;
	transition: color 0.3s, text-shadow 0.3s;
}

.form-control
{
	transition: box-shadow 0.3s;
}

.form-control:focus
{
	box-shadow: 0 0 10px #B0C8EB;
}

.search-bar-second
{
	display: flex;
	flex-flow: row nowrap;
	background: #FCFCFC;
	border-radius: 0.25rem;
	transition: box-shadow 0.3s;
	border: 1px solid #B0C8EB;
	transition: border 0.3s, box-shadow 0.3s;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

table
{
	display: flex;
	flex-flow: column;
	width: 100%;
}

thead
{
	flex: 0 0 auto;
	background: #B0C8EB;
}

tbody
{
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

tr
{
	width: 100%;
	display: table;
	table-layout: fixed;
}

.table-responsive
{
	width: 100%;
	padding: 10px 15px 10px 15px;
}

.table
{
	max-height: 500px;
	overflow-y: auto;
	margin: 0;
	box-shadow: 2px 2px 5px rgba(18, 18, 18, 0.3);
}

.table td
{
	vertical-align: middle;
}

.table-header
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	color: #FCFCFC;
}

.table-body
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	white-space: nowrap;
}

.table td select
{
	height: 35px;
	font-size: 1.1rem;
}

.third
{
	padding: 0;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.third > .btn-icon
{
	font-size: 1.1rem;
	transition: color 0.3s;
}

.view-history > .btn-icon
{
	color: #0061aa;
}

.view-history:hover > .btn-icon
{
	color: #00aad8;
	text-shadow: none;
}

.config-user > .btn-icon
{
	color: #023859;
}

.config-user:hover > .btn-icon
{
	color: #B0C8EB;
	text-shadow: none;
}

.remove-user > .btn-icon
{
	color: #FF4430;
}

.remove-user:hover > .btn-icon
{
	color: #FF7C71;
	text-shadow: none;
}

#popup-container
{
	display: none;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.75);
}

.popup
{
	display: none;
	position: relative;
	width: 90%;
	max-width: 800px;
	height: 90%;
	max-height: 500px;
	background: #FCFCFC;
	border-radius: 0.25rem;
	padding: 20px;
	overflow: auto;
}

.popup .title
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.popup .container-fluid
{
	padding: 0px;
}

.popup .row > *
{
	height: 60px;
}

.popup label
{
	margin-bottom: 10px;
	height: 20px;
}

.popup > .cancel-btn
{
	position: absolute;
	top: 18px;
	right: 12px;
	border: none;
	background: none;
}

.popup > .cancel-btn > .btn-icon
{
	color: #FF4430;
	font-size: 1.8rem;
}

.popup .form-control
{
	border: 1px solid #B0C8EB;
	height: calc(100% - 20px);
}

.popup .btn
{
	background: #B0C8EB;
	width: 100%;
	transition: background 0.3s, border 0.3s;
}

.popup .btn > .btn-icon, .popup .btn > .btn-text
{
	color: #FCFCFC;
	font-size: 1.2rem;
	transition: color 0.3s;
}

.popup .btn:not(:disabled):hover
{
	background: #FCFCFC;
	border: 1px solid #B0C8EB;
}

.popup .btn:not(:disabled):hover > .btn-icon, .popup .btn:not(:disabled):hover > .btn-text
{
	color: #B0C8EB;
}

#popup-user-history
{
	max-width: 1000px;
	max-height: 800px;
}

#user-history
{
	width: 100%;
	height: calc(100% - 60px);
	resize: none;
	cursor: initial;
	overflow-y: auto;
	background: #FCFCFC;
	padding: 0px;
	margin: 0px;
	margin-top: 30px;
	display: flex;
	flex-flow: column;
}

.log-message
{
	font-size: 1.1rem;
}

.something-suspicious
{
	color: #FF4430;
}