﻿html, body
{
	width: 100%;
	overflow-x: hidden;
}

.container
{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: none !important;
	padding: 30px 15px 10px 15px;
	margin: 0px;
}

.title
{
	font-size: 2.0rem;
	margin-bottom: 10px;
}

.form-group
{
	width: 100%;
}

.form-group > .input-bundle
{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.form-group > .input-bundle > .btn
{
	width: 90px;
	height: 47px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #023859;
	margin-left: 5px;
	transition: background 0.3s, border 0.3s;
}

.form-group > .input-bundle > .btn > .btn-text
{
	color: #FCFCFC;
	transition: color 0.3s;
}

.form-group > .input-bundle > .btn:hover
{
	background: #FCFCFC;
	border: 1px solid #023859;
}

.form-group > .input-bundle > .btn:hover > .btn-text
{
	color: #023859;
}

.form-group > .form-control
{
	width: 100%;
	border: 1px solid #023859 !important;
	transition: box-shadow 0.3s, border 0.3s;
}

.form-group > .input-bundle > .form-control
{
	width: 100%;
	border: 1px solid #023859 !important;
	transition: box-shadow 0.3s, border 0.3s;
}

.form-group > .form-control:focus
{
	border: 1px solid #F2B705 !important;
}

.form-group > .input-bundle > .form-control:focus
{
	border: 1px solid #F2B705 !important;
}

.form-group > textarea
{
	height: 180px;
	resize: vertical;
}

.dropdown-toggle, .filter-option,
.dropdown-toggle:hover, .filter-option:hover,
.dropdown-toggle:active, .filter-option:active,
.dropdown-toggle:focus, .filter-option:focus
{
	width: 100%;
	height: 100%;
	background: #FCFCFC;
	color: #131313;
}

.dropdown-menu
{
	background: #FCFCFC;
	width: 100%;
}

.dropdown-item
{
	color: #131313;
	transition: background 0.3s;
	width: 100%;
	padding: 0px 10px 5px 10px;
}

.dropdown-item > .text
{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 !important;
	font-size: 1.0rem;
}

.dropdown-item > .check-mark
{
	font-size: 1.0rem;
	top: 3px !important;
}

.dropdown-item:hover
{
	background: #023859;
	color: #FCFCFC;
}

.form-group > .btn
{
	width: 100%;
	background: #023859;
	transition: background 0.3s, border 0.3s;
}

.form-group > .btn > *
{
	color: #FCFCFC;
	transition: color 0.3s;
}

.form-group > .btn:not(:disabled):hover
{
	background: #FCFCFC;
	border: 1px solid #023859;
}

.form-group > .btn:not(:disabled):hover > *
{
	color: #023859;
}
