﻿@{
	ViewData["DATA"] = "AddUserAppointment";
	ViewData["TITLE"] = "예약하기";
	int id = ViewBag.Id;
	User user = ViewBag.User;
	Product product = ViewBag.Product;
	string[] banks = new string[]
	{
		"국민",
		"신한",
		"우리",
		"하나",
		"농협",
		"수협",
		"신협",
		"산업",
		"기업",
		"토스",
		"카카오"
			};
	string Back = ViewBag.Back;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="~/lib/bootstrap-input-spinner/dist/js/bootstrap-input-spinner.js"></script>

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<link rel="stylesheet" href="~/views/appointment/add-user-appointment.css" />
<script src="~/views/appointment/add-user-appointment.js"></script>

<input type="hidden" id="product-id" value="@id" />
<input type="hidden" id="back" value="@Back" />
<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="appointment-area">
			<div class="appointment-form">
				<div class="appointment-info form-divider container-fluid">
					<div class="row">
						<div class="form-group col-12">
							<label>날짜</label>
							<div class="explanation-area container-fluid">
								<div class="row">
									<div class="explanation-group col-6 col-sm-3">
										<span class="explanation-text">
											예약가능 :
										</span>
										<span class="explanation-icon fa fa-square date-available"></span>
									</div>
									<div class="explanation-group col-6 col-sm-3">
										<span class="explanation-text">
											출발확정 :
										</span>
										<span class="explanation-icon fa fa-square date-approved"></span>
									</div>
									<div class="explanation-group col-6 col-sm-3">
										<span class="explanation-text">
											예약마감 :
										</span>
										<span class="explanation-icon fa fa-square date-fulled"></span>
									</div>
									<div class="explanation-group col-6 col-sm-3">
										<span class="explanation-text">
											예약취소 :
										</span>
										<span class="explanation-icon fa fa-square date-canceled"></span>
									</div>
								</div>
							</div>
							<input type="text" class="form-control date-picker" readonly="readonly" id="date" placeholder="출발날짜를 선택해주세요." />
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4">
							<label>예금주명</label>
							<input type="text" class="form-control" id="billing-name" value="@user.BillingName" />
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4">
							<label>은행</label>
							<select id="billing-bank" class="form-control">
								@foreach (var bank in banks)
								{
									if (user.BillingBank == bank)
									{
										<option value="@bank" selected>@bank</option>
									}
									else
									{
										<option value="@bank">@bank</option>
									}
								}
							</select>
						</div>
						<div class="form-group col-12 col-md-4">
							<label>계좌번호</label>
							<input type="text" class="form-control" id="billing-number" value="@user.BillingNumber" />
						</div>
					</div>
				</div>
				<div id="people" class="form-divider-with-no-border">
					<div id="person-0" class="person form-divider container-fluid" style="display: none;">
						<div class="row">
							<div class="form-group col-12 col-md-6">
								<label>구분</label>
								<select class="age form-control">
									@foreach (var item in product.ProductPriceRule.Where(x => x.PriceRule.RuleType == PriceRuleType.PERCENT_AS).Select(x => x.PriceRule))
									{
										<option value="@item.Id-@item.RuleType-@(product.Price / 100 * (int)item.Price)">
											@item.RuleName - &#8361;@string.Format("{0:N0}", product.Price / 100 * (int)item.Price)
										</option>
									}
								</select>
							</div>
							<div class="form-group col-12 col-md-6">
								<label>탑승지</label>
								<select class="departure form-control">
									@foreach (var item in product.ProductDeparture.Select(x => x.Departure))
									{
										<option value="@item.Id">@item.Name</option>
									}
								</select>
							</div>
							<div class="form-group col-12 col-md-6">
								<label>옵션추가</label>
								<select class="option form-control multiple-select" multiple data-selected-text-format="count">
									@foreach (var item in product.ProductPriceRule.Where(x => x.PriceRule.RuleType == PriceRuleType.STATIC_PLUS).Select(x => x.PriceRule))
									{
										<option value="@item.Id-@item.RuleType-@item.Price">@item.RuleName + &#8361;@string.Format("{0:N0}", item.Price)</option>
									}
									@foreach (var item in product.ProductPriceRule.Where(x => x.PriceRule.RuleType == PriceRuleType.STATIC_MINUS).Select(x => x.PriceRule))
									{
										<option value="@item.Id-@item.RuleType-@item.Price">@item.RuleName - &#8361;@string.Format("{0:N0}", item.Price)</option>
									}
								</select>
							</div>
							<div class="form-group col-12 col-md-6">
								<label class="d-none d-md-block">인원</label>
								<input class="ammount form-control input-spinner" type="number" value="1" min="1" max="100" step="1" />
							</div>
							<div class="form-group col-12">
								<button class="delete-person btn fourth">
									<span class="btn-icon fa fa-trash"></span>
									<span class="btn-text">
										제거
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="total-price form-divider container-fluid">
					<div class="row">
						<span class="price-title col-5">결제금액</span>
						<span id="price-value" class="col-7">&#8361;@string.Format("{0:N0}", product.Price)</span>
					</div>
				</div>
				<div class="form-group btn-group">
					<button id="add-person" class="btn third">
						<span class="btn-icon fa fa-user-plus"></span>
						<span class="btn-text d-block d-md-none">
							추가
						</span>
						<span class="btn-text d-none d-md-block">
							인원추가
						</span>
					</button>
					<button id="appointment" class="btn third">
						<span class="btn-icon fa fa-clipboard-check"></span>
						<span class="btn-text d-block d-md-none">
							예약
						</span>
						<span class="btn-text d-none d-md-block">
							예약하기
						</span>
					</button>
					<button id="cancel" class="btn third">
						<span class="btn-icon fa fa-ban"></span>
						<span class="btn-text d-block d-md-none">
							취소
						</span>
						<span class="btn-text d-none d-md-block">
							취소하기
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>