﻿@{
	ViewData["DATA"] = "CheckAppointment";
	ViewData["TITLE"] = "예약확인";
	string Back = ViewBag.Back;
}

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<link rel="stylesheet" href="~/views/appointment/check-appointment.css" />
<script src="~/views/appointment/check-appointment.js"></script>

<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="search-area">
			<form class="search-form">
				<div class="form-group">
					<label>이름</label>
					<input type="text" class="form-control input-text name" placeholder="예약자명" />
				</div>
				<div class="form-group">
					<label>휴대폰 번호</label>
					<input type="tel" class="form-control input-text phone" placeholder="'-' 빼고 입력" />
				</div>
				<div class="form-group d-flex flex-row">
					<button class="btn apply-btn form-control" type="submit" disabled>
						<span class="btn-text">
							예약확인
						</span>
					</button>
					<button class="btn login-btn form-control" type="submit">
						<span class="btn-text">
							로그인
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>