﻿@{
	ViewData["DATA"] = "TryGetAppointment";
	ViewData["TITLE"] = "예약확인";
	string Back = ViewBag.Back;
	int? id = ViewBag.Id;
}

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<link rel="stylesheet" href="~/views/appointment/try-get-appointment.css" />
<script src="~/views/appointment/try-get-appointment.js"></script>

<input type="hidden" id="appointment-id" value="@id" />
<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="search-area">
			<form class="search-form">
				<div class="form-group">
					<label>비밀번호</label>
					<input type="password" class="form-control input-text password" placeholder="비밀번호 입력" />
				</div>
				<div class="form-group d-flex flex-row">
					<button class="btn apply-btn form-control" type="submit" disabled>
						<span class="btn-text">
							예약조회
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>