﻿<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=00Bmba02j5">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=00Bmba02j5">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=00Bmba02j5">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=00Bmba02j5">
<link rel="manifest" href="/webmanifest.json?v=00Bmba02j5">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=00Bmba02j5" color="#023859">
<link rel="shortcut icon" href="/favicon.ico?v=00Bmba02j5">
<meta name="apple-mobile-web-app-title" content="낭만투어">
<meta name="application-name" content="낭만투어">
<meta name="msapplication-TileColor" content="#023859">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=00Bmba02j5">
<meta name="theme-color" content="#023859">