﻿@{
	var isLoggedIn = Context.Session.GetInt32(Session.Id) != null;
	var sessionId = Context.Session.GetInt32(Session.Id);
	var Back = ViewBag.Back ?? "/Home/Index";
	var db = new RomanceTourDbContext();
	var categories = await db.Category.ToArrayAsync();
}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="
		width=device-width,
		initial-scale=1.0,
		maximum-scale=1.0,
		minimum-scale=1.0,
		user-scalable=no" />
	<title>낭만투어 - @ViewData["TITLE"]</title>

	<partial name="_Favicon" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/dist/css/fontawesome.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.css" />
	<link rel="stylesheet" href="~/lib/chart/dist/chart.css" />
	<link rel="stylesheet" href="~/lib/air-datepicker/dist/css/datepicker.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/fontawesome/dist/js/fontawesome.js"></script>
	<script src="~/lib/hammer/dist/hammer.js"></script>
	<script src="~/lib/jquery-hammer/dist/jquery.hammer.js"></script>
	<script src="~/lib/hammer-propagation/dist/hammer.propagation.js"></script>
	<script src="~/lib/chart/dist/chart.js"></script>
	<script src="~/lib/air-datepicker/dist/js/datepicker.js"></script>
	<script src="~/lib/air-datepicker/dist/js/i18n/datepicker.ko.js"></script>

	<link rel="stylesheet" href="~/shared/css/reset.css" />
	<link rel="stylesheet" href="~/shared/css/layout.css" />
	<link rel="stylesheet" href="~/shared/css/theme.css" />
	<link rel="stylesheet" href="~/shared/css/fonts.css" />

	<script src="~/shared/js/common.js"></script>
	<script src="~/shared/js/ui.js"></script>
	<script src="~/shared/js/browser-check.js"></script>
	@if (!Session.IsAdministrator(sessionId))
	{
		<script>
			(function ()
			{
				var w = window;
				if (w.ChannelIO)
				{
					return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
				}
				var ch = function ()
				{
					ch.c(arguments);
				};
				ch.q = [];
				ch.c = function (args)
				{
					ch.q.push(args);
				};
				w.ChannelIO = ch;
				function l()
				{
					if (w.ChannelIOInitialized)
					{
						return;
					}
					w.ChannelIOInitialized = true;
					var s = document.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
					s.charset = 'UTF-8';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				}
				if (document.readyState === 'complete')
				{
					l();
				} else if (window.attachEvent)
				{
					window.attachEvent('onload', l);
				} else
				{
					window.addEventListener('DOMContentLoaded', l, false);
					window.addEventListener('load', l, false);
				}
			})();
			ChannelIO('boot', {
				"pluginKey": "33521c8c-35c0-4128-8c4f-6a50c8cc2255",
				"customLauncherSelector": ".help-button",
				"hideChannelButtonOnBoot": true
			});
		</script>
	}
	else
	{
		<script src="~/shared/js/message.js"></script>
	}
	@if (ViewData["DATA"] as string == "GetAppointment")
	{
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="~/shared/css/full-screen.css" />
		<link rel="stylesheet" href="~/views/appointment/get-appointment.css" />
		<script src="~/views/appointment/get-appointment.js"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=@XmlConfiguration.KakaoAPI"></script>
	}
</head>
<body>
	<input type="hidden" id="back" value="@Back" />
	<div id="container">
		<header class="fixed-top">
			<div class="top-menu container-fluid d-none d-xl-flex">
				@if (isLoggedIn)
				{
					@if (Session.IsAdministrator(sessionId))
					{
						<button class="send-message btn menu-btn">
							<span class="btn-icon fas fa-paper-plane"></span>
							<span class="btn-text">
								문자발송
							</span>
						</button>
						<button class="dashboard btn menu-btn">
							<span class="btn-icon fa fa-user-cog"></span>
							<span class="btn-text">
								관리자
							</span>
						</button>
					}
					else
					{
						<button class="mypage btn menu-btn">
							<span class="btn-icon fa fa-user"></span>
							<span class="btn-text">
								마이페이지
							</span>
						</button>
					}
				}
				else
				{
					<button class="login btn menu-btn">
						<span class="btn-icon fa fa-sign-in-alt"></span>
						<span class="btn-text">
							로그인
						</span>
					</button>
					<button class="register btn menu-btn">
						<span class="btn-icon fa fa-user-plus"></span>
						<span class="btn-text">
							회원가입
						</span>
					</button>
				}
				@if (!isLoggedIn || !Session.IsAdministrator(sessionId))
				{
					<button class="appointment btn menu-btn">
						<span class="btn-icon fa fa-clipboard-list"></span>
						<span class="btn-text">
							예약확인
						</span>
					</button>
				}
				@if (!Session.IsAdministrator(sessionId))
				{
					<button class="help-button btn menu-btn">
						<span class="btn-icon fas fa-headset"></span>
						<span class="btn-text">
							고객센터
						</span>
					</button>
				}
				@if (isLoggedIn)
				{
					<button class="logout btn menu-btn">
						<span class="btn-icon fa fa-sign-out-alt"></span>
						<span class="btn-text">
							로그아웃
						</span>
					</button>
				}
			</div>
			<nav class="gnb navbar navbar-expand-xl">
				<div class="container-fluid">
					<a class="navbar-brand" href="@Url.Action("Index", "Home")">
						<svg class="logo" version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 1200 365" style="enable-background:new 0 0 1200 365;" xml:space="preserve">
							<path class="st0" d="M273.09,301.74c-103.62,0-187.62-84-187.62-187.62c0-42.77,14.32-82.19,38.41-113.74C51.64,26.46,
								0,95.64,0,176.88C0,280.5,84,364.5,187.62,364.5c60.85,0,114.93-28.98,149.21-73.88C316.93,297.81,295.47,301.74,273.09,301.74z" />
							<g>
								<path class="st0" d="M274.45,112.41" />
								<path class="st0" d="M274.69,51.59c0,0-0.01,0-0.01,0c-0.13,15.75-12.94,28.49-28.72,28.49c14.64,
									0,26.72,10.96,28.49,25.12c1.78-14.16,13.85-25.12,28.49-25.12c0.08,0,0.15,0.01,0.23,
									0.01c0,0,0-0.01,0-0.01C287.5,79.94,274.82,67.26,274.69,51.59z" />
								<path class="st0" d="M245.73,80.07c0,0,0,0.01,0,0.01c0.08,0,0.15-0.01,0.23-0.01C245.88,80.08,245.81,80.07,245.73,80.07z" />
								<path class="st0" d="M303.41,80.08" />
								<path class="st0" d="M274.68,51.35" />
								<path class="st0" d="M245.73,80.08" />
							</g>
							<text transform="matrix(1 0 0 1 360 256)" class="st1 st2 st3">낭만투어</text>
							<path class="st4" d="M266.75,227.7c-3.51-3.14-8.42-4.79-12.84-6.79c-1.15-0.52-2.86,0.19-4.32,0.33c0.36,1.31,0.43,2.79,1.12,3.89
								c3.01,4.85,6.19,9.61,9.33,14.38c6.17,9.39,11.07,19.23,11.8,30.74c0.99,15.58-10.35,27.26-24.36,24.88
								c-0.04-0.31-0.18-0.65-0.11-0.93c0.45-1.68,0.97-3.34,1.42-5.03c3.87-14.55,4.36-29.14-0.53-43.51
								c-4.79-14.08-12.96-26.13-23.64-36.43c-6.32-6.09-13.64-10.28-22.7-10.93c-1.27-0.09-2.85-1.25-3.6-2.38
								c-4.13-6.21-8.14-12.51-11.93-18.93c-0.65-1.11-0.61-3.4,0.11-4.42c4.08-5.78,4.35-12.2,3.47-18.75
								c-1.4-10.35-3.08-20.67-4.76-30.98c-0.26-1.57-1.16-3.03-2.37-6.07c-4.19,5.63-7.74,10.03-10.84,14.74
								c-1.42,2.16-2.76,2.91-5.34,2.73c-6.81-0.46-13.64-0.73-20.47-0.74c-2.62,0-4.03-0.68-4.9-3.23c-1.36-4.01-3.09-7.89-4.87-12.34
								c-4.31,10.89-8.34,21.16-12.45,31.4c-4.14,10.32-2.29,19.18,5.94,26.83c1.42,1.31,2.29,3.76,2.46,5.76
								c0.53,6.17,0.91,12.38,0.8,18.57c-0.26,15.61,6.87,28.21,16.31,39.66c6.85,8.31,10.97,17.73,13.8,27.9
								c1.53,5.5,2.84,11.07,4.56,16.5c1.92,6.08,2.93,11.61-4.76,14.47c-0.83,0.31-1.63,1.12-2.09,1.91c-1.15,1.94-3.02,4.12-2.8,5.99
								c0.15,1.25,3.35,2.99,5.23,3.06c9.81,0.34,19.67,0.74,29.44,0.1c11.92-0.78,23.68-1.22,35.63,0.34c10.15,1.33,20.56,1.78,30.78,1.24
								c11.44-0.61,19.74-7.06,23.37-18.07C290,271.41,286.79,245.63,266.75,227.7z M134.63,159.01c2.52-4.18,4.95-8.21,7.47-12.39
								c1.77,2.32,3.45,4.54,5.12,6.73c-1.62,2.5-1.37,4.69,0.81,5.89c0.8,0.44,1.92,0.54,2.85,0.42c0.78-0.11,1.19-0.02,1.59,0.62
								c0.35,0.57,0.79,1.09,1.4,1.91C147.32,161.11,141.1,160.08,134.63,159.01z M159.1,162.2c0.74-0.99,1.21-1.73,1.8-2.36
								c0.2-0.21,0.74-0.19,1.09-0.13c1.45,0.26,2.75,0.06,3.79-1.07c1.02-1.12,1.28-2.4,0.83-3.84c-0.01-0.04,0-0.09-0.03-0.11
								c-1.3-1.24-0.27-2.12,0.46-3.06c1.27-1.63,2.51-3.28,3.83-5c2.52,4.16,4.97,8.2,7.49,12.37C171.92,160.07,165.68,161.11,159.1,162.2
								z" />
						</svg>
					</a>
					<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<div class="collapse navbar-collapse container-fluid" id="navbarText">
						<ul class="navbar-nav ml-auto order-last">
							<li class="nav-item">
								<div class="search-bar">
									<input type="search" class="form-control search-text" placeholder="당신의 여행을 찾아보세요!" />
									<button class="btn search-btn">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav mr-auto">
							<li class="user-area nav-item d-flex d-xl-none">
								@if (isLoggedIn)
								{
									@if (Session.IsAdministrator(sessionId))
									{
										<button class="send-message btn menu-btn">
											<span class="btn-icon fas fa-paper-plane"></span>
											<span class="btn-text">
												문자발송
											</span>
										</button>
										<button class="dashboard btn menu-btn">
											<span class="btn-icon fa fa-user-cog"></span>
											<span class="btn-text">
												관리자
											</span>
										</button>
									}
									else
									{
										<button class="mypage btn menu-btn">
											<span class="btn-icon fa fa-user"></span>
											<span class="btn-text">
												마이페이지
											</span>
										</button>
									}
								}
								else
								{
									<button class="login btn menu-btn">
										<span class="btn-icon fa fa-sign-in-alt"></span>
										<span class="btn-text">
											로그인
										</span>
									</button>
									<button class="register btn menu-btn">
										<span class="btn-icon fa fa-user-plus"></span>
										<span class="btn-text">
											회원가입
										</span>
									</button>
								}
								@if (!isLoggedIn || !Session.IsAdministrator(sessionId))
								{
									<button class="appointment btn menu-btn">
										<span class="btn-icon fa fa-clipboard-list"></span>
										<span class="btn-text">
											예약확인
										</span>
									</button>
								}
								@if (!Session.IsAdministrator(sessionId))
								{
									<button class="help-button btn menu-btn">
										<span class="btn-icon fas fa-headset"></span>
										<span class="btn-text">
											고객센터
										</span>
									</button>
								}
								@if (isLoggedIn)
								{
									<button class="logout btn menu-btn">
										<span class="btn-icon fa fa-sign-out-alt"></span>
										<span class="btn-text">
											로그아웃
										</span>
									</button>
								}
							</li>
							<li class="nav-item active">
								<a class="nav-link menu-btn" href="/Product/ListProduct?category=0">
									<span class="btn-text">
										전체 여행
									</span>
								</a>
							</li>
							@foreach (var category in categories)
							{
								<li class="nav-item active">
									<a class="nav-link menu-btn" href="/Product/ListProduct?category=@category.Id">
										<span class="btn-text">
											@category.Name
										</span>
									</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link menu-btn" href="/Product/ListProduct?confirmed=true">
									<span class="btn-text">
										출발확정 여행
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<article>
			<div id="loading">
				<span id="loading-icon" class="fa fa-circle-notch fa-spin"></span>
				<span id="loading-message" class="font-korean">요청을 처리 중입니다.</span>
			</div>
			@RenderBody()
		</article>
		@if (ViewData["DATA"] as string == "Home")
		{
			<footer>
				<svg class="footer-logo" version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
					 y="0px" viewBox="0 0 1200 365" style="enable-background:new 0 0 1200 365;" xml:space="preserve">
					<path class="st0" d="M273.09,301.74c-103.62,0-187.62-84-187.62-187.62c0-42.77,14.32-82.19,38.41-113.74C51.64,26.46,
						0,95.64,0,176.88C0,280.5,84,364.5,187.62,364.5c60.85,0,114.93-28.98,149.21-73.88C316.93,297.81,295.47,301.74,273.09,301.74z" />
					<g>
						<path class="st0" d="M274.45,112.41" />
						<path class="st0" d="M274.69,51.59c0,0-0.01,0-0.01,0c-0.13,15.75-12.94,28.49-28.72,28.49c14.64,
							0,26.72,10.96,28.49,25.12c1.78-14.16,13.85-25.12,28.49-25.12c0.08,0,0.15,0.01,0.23,
							0.01c0,0,0-0.01,0-0.01C287.5,79.94,274.82,67.26,274.69,51.59z" />
						<path class="st0" d="M245.73,80.07c0,0,0,0.01,0,0.01c0.08,0,0.15-0.01,0.23-0.01C245.88,80.08,245.81,80.07,245.73,80.07z" />
						<path class="st0" d="M303.41,80.08" />
						<path class="st0" d="M274.68,51.35" />
						<path class="st0" d="M245.73,80.08" />
					</g>
					<text transform="matrix(1 0 0 1 360 256)" class="st1 st2 st3">낭만투어</text>
					<path class="st4" d="M266.75,227.7c-3.51-3.14-8.42-4.79-12.84-6.79c-1.15-0.52-2.86,0.19-4.32,0.33c0.36,1.31,0.43,2.79,1.12,3.89
						c3.01,4.85,6.19,9.61,9.33,14.38c6.17,9.39,11.07,19.23,11.8,30.74c0.99,15.58-10.35,27.26-24.36,24.88
						c-0.04-0.31-0.18-0.65-0.11-0.93c0.45-1.68,0.97-3.34,1.42-5.03c3.87-14.55,4.36-29.14-0.53-43.51
						c-4.79-14.08-12.96-26.13-23.64-36.43c-6.32-6.09-13.64-10.28-22.7-10.93c-1.27-0.09-2.85-1.25-3.6-2.38
						c-4.13-6.21-8.14-12.51-11.93-18.93c-0.65-1.11-0.61-3.4,0.11-4.42c4.08-5.78,4.35-12.2,3.47-18.75
						c-1.4-10.35-3.08-20.67-4.76-30.98c-0.26-1.57-1.16-3.03-2.37-6.07c-4.19,5.63-7.74,10.03-10.84,14.74
						c-1.42,2.16-2.76,2.91-5.34,2.73c-6.81-0.46-13.64-0.73-20.47-0.74c-2.62,0-4.03-0.68-4.9-3.23c-1.36-4.01-3.09-7.89-4.87-12.34
						c-4.31,10.89-8.34,21.16-12.45,31.4c-4.14,10.32-2.29,19.18,5.94,26.83c1.42,1.31,2.29,3.76,2.46,5.76
						c0.53,6.17,0.91,12.38,0.8,18.57c-0.26,15.61,6.87,28.21,16.31,39.66c6.85,8.31,10.97,17.73,13.8,27.9
						c1.53,5.5,2.84,11.07,4.56,16.5c1.92,6.08,2.93,11.61-4.76,14.47c-0.83,0.31-1.63,1.12-2.09,1.91c-1.15,1.94-3.02,4.12-2.8,5.99
						c0.15,1.25,3.35,2.99,5.23,3.06c9.81,0.34,19.67,0.74,29.44,0.1c11.92-0.78,23.68-1.22,35.63,0.34c10.15,1.33,20.56,1.78,30.78,1.24
						c11.44-0.61,19.74-7.06,23.37-18.07C290,271.41,286.79,245.63,266.75,227.7z M134.63,159.01c2.52-4.18,4.95-8.21,7.47-12.39
						c1.77,2.32,3.45,4.54,5.12,6.73c-1.62,2.5-1.37,4.69,0.81,5.89c0.8,0.44,1.92,0.54,2.85,0.42c0.78-0.11,1.19-0.02,1.59,0.62
						c0.35,0.57,0.79,1.09,1.4,1.91C147.32,161.11,141.1,160.08,134.63,159.01z M159.1,162.2c0.74-0.99,1.21-1.73,1.8-2.36
						c0.2-0.21,0.74-0.19,1.09-0.13c1.45,0.26,2.75,0.06,3.79-1.07c1.02-1.12,1.28-2.4,0.83-3.84c-0.01-0.04,0-0.09-0.03-0.11
						c-1.3-1.24-0.27-2.12,0.46-3.06c1.27-1.63,2.51-3.28,3.83-5c2.52,4.16,4.97,8.2,7.49,12.37C171.92,160.07,165.68,161.11,159.1,162.2
						z" />
				</svg>
				<div class="container-fluid">
					<div class="row">
						<span class="large-text col-12">(주) @CompanyInformation.Name</span>
						<span class="col-12 col-md-4 col-lg-4">대표자 : @CompanyInformation.Representative</span>
						<span class="col-12 col-md-8 col-lg-8">주소 : @CompanyInformation.Address</span>
						<span class="col-6 col-md-4 col-lg-4">연락처 : @CompanyInformation.Telephone</span>
						<span class="col-6 col-md-4 col-lg-4">팩스 : @CompanyInformation.Fax</span>
						<span class="col-12 col-md-4 col-lg-4">이메일 : @CompanyInformation.Email</span>
						<span class="col-12 col-lg-4">사업자등록번호 : @CompanyInformation.CompanyRegistrationNumber</span>
						<span class="col-12 col-lg-8">통신판매등록번호 : @CompanyInformation.TelemarketingRegistrationNumber</span>
						<span class="col-12">&copy; @CompanyInformation.Copyright</span>
						<span class="col-12">
							<span id="link-agreement">개인정보 수집 및 이용약관</span>
						</span>
					</div>
				</div>
			</footer>
		}
	</div>
</body>
</html>