﻿.full-screen-area
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	overflow: hidden;
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
{
	.shadow-box
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: rgba(18, 18, 18, 0.8);
	}
}

.title-area
{
	width: 100%;
	height: 100px;
	padding: 30px;
	padding-top: 50px;
	border-bottom: 1px solid #FCFCFC;
}

.title
{
	font-size: 2.0rem;
	color: #FCFCFC;
}

.appointment-list
{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 30px;
}

.has-margin
{
	margin-bottom: 8px;
}

.red-stamp
{
	font-size: 1.1rem;
	padding: 3px;
	border: 3px solid #F56965;
	color: #F56965;
}

.green-stamp
{
	font-size: 1.1rem;
	padding: 3px;
	border: 3px solid #48A84A;
	color: #48A84A;
}

.yellow-stamp
{
	font-size: 1.1rem;
	padding: 3px;
	border: 3px solid #F2B705;
	color: #F2B705;
}

.grey-stamp
{
	font-size: 1.1rem;
	padding: 3px;
	border: 3px solid #777777;
	color: #777777;
}

.appointment-item
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	padding: 10px;
	background: #FCFCFC;
	border-radius: 0.25rem;
	box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.5);
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.appointment-item:last-child
{
	margin: 0;
}

.appointment-item:hover
{
	box-shadow: 0px 0px 15px #F2B705;
}

.item-thumbnail
{
	width: 160px;
	margin-right: 10px;
	object-fit: contain;
	border-radius: 0.25rem;
}

@media all and (max-width: 576px)
{
	.appointment-item
	{
		flex-flow: column;
	}

	.item-thumbnail
	{
		width: 100%;
		height: 160px;
		object-fit: cover;
		margin: 0;
	}

	.item-info
	{
		margin-top: 20px;
	}
}

@media all and (min-width: 768px)
{
	.item-thumbnail
	{
		width: 90px;
	}
}

.full-box
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.big-text
{
	color: #FCFCFC;
	font-size: 1.8rem;
}

.link
{
	margin-top: 20px;
}

.link > .link-text, .link > .link-icon
{
	font-size: 1.3rem;
	color: #FCFCFC;
	transition: color 0.3s, text-shadow 0.3s;
}

.link:hover > .link-text, .link:hover > .link-icon
{
	color: #F2B705;
	text-shadow: 0px 0px 10px #F2B705;
}
