﻿.full-screen-area
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	overflow: hidden;
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
{
	.shadow-box
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: rgba(18, 18, 18, 0.8);
	}
}

.search-area
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 80%;
	border-radius: 0.25rem;
	border: 1px solid #FCFCFC;
}

@media all and (min-width: 768px)
{
	.search-area
	{
		width: 50%;
	}
}

.search-form
{
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	max-width: 840px;
	overflow-y: auto;
}

.search-form::-webkit-scrollbar
{
	width: 0;
}

.search-form .form-group
{
	width: 100%;
}

.form-group label
{
	color: #FCFCFC;
	margin-bottom: 5px;
}

.form-group .form-control
{
	background: rgba(2, 56, 89, 0.1);
	font-size: 1.2rem;
}

.form-group .form-control::placeholder
{
	color: #FCFCFC;
}

.form-control, .form-group > .form-control::-webkit-input-placeholder
{
	color: #FCFCFC;
	-webkit-appearance: none;
}

.form-group > .btn
{
	border: 1px solid #FCFCFC;
}

.input-text:focus
{
	color: #FCFCFC;
}
