﻿.full-screen-area
{
	width: 100%;
	height: 100%;
	background: #131313;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.kernel-wall
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: #FCFCFC;
	font-size: 1.2rem;
}

.cover-wall
{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.wall-text
{
	position: absolute;
	z-index: 2;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 80px 0 80px 0;
}

.text-area
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.main-text
{
	color: #FCFCFC;
	font-size: 2.3rem;
	margin-bottom: 10px;
}

.sub-text
{
	color: #FCFCFC;
	font-size: 1.2rem;
}

a:hover, a:visited, a:focus
{
	text-decoration: none;
}

.go-back
{
	color: #FCFCFC;
	font-size: 1.8rem;
	transition: color 0.3s, text-shadow 0.3s;
}

.go-back:hover
{
	color: #F2B705;
	text-shadow: 0px 0px 10px #F2B705;
}

.wall-img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ladder-img
{
	position: absolute;
	object-fit: cover;
}

@media all and (max-width: 576px)
{
	.ladder-img
	{
		width: 95%;
	}
}

@media all and (min-width: 576px)
{
	.ladder-img
	{
		width: 480px;
	}
}
