﻿html, body
{
	width: 100%;
	overflow-x: hidden;
	margin: 0px;
}

#terms
{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	padding: 10px;
	box-sizing: border-box;
}

#terms > span
{
	width: 100%;
	height: auto;
	font-family: 'Dohyun', 'sans-serif';
	letter-spacing: -1px;
	flex-shrink: 0;
	user-select: none;
}

#terms > .head-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

#terms > .title-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#terms > .bold-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#terms > .normal-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0rem;
	font-weight: normal;
}

#terms > .warning-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0rem;
	font-weight: bold;
	color: #D92929;
	font-weight: normal;
	margin-top: 10px;
}
