.bounce
{
	position: absolute;
	width: 100%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce
{
	0%, 20%, 50%, 80%, 100%
	{
		-webkit-transform: translateY(0);
	}
	40%
	{
		-webkit-transform: translateY(-30px);
	}
	60%
	{
		-webkit-transform: translateY(-15px);
	}
}
@-moz-keyframes bounce
{
	0%, 20%, 50%, 80%, 100%
	{
		-moz-transform: translateY(0);
	}
	40%
	{
		-moz-transform: translateY(-30px);
	}
	60%
	{
		-moz-transform: translateY(-15px);
	}
}
@-o-keyframes bounce
{
	0%, 20%, 50%, 80%, 100%
	{
		-o-transform: translateY(0);
	}
	40%
	{
		-o-transform: translateY(-30px);
	}
	60%
	{
		-o-transform: translateY(-15px);
	}
}
@keyframes bounce
{
	0%, 20%, 50%, 80%, 100%
	{
		transform: translateY(0);
	}
	40%
	{
		transform: translateY(-30px);
	}
	60%
	{
		transform: translateY(-15px);
	}
}

.float-btn {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 800;
	border-radius: 50%;
	overflow: hidden;
	background: rgba(208, 184, 245, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 62px;
	height: 62px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	transition: background 0.3s;
}

	.float-btn:hover
	{
		background: #D0B8F5;
	}

	.float-btn .btn-icon
	{
		font-size: 1.5rem;
	}

	.float-btn > *
	{
		font-size: 0.8rem;
		color: #FCFCFC;
	}

.second-float-btn {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 800;
	border-radius: 50%;
	overflow: hidden;
	background: rgba(2, 56, 89, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 62px;
	height: 62px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	transition: background 0.3s;
}

	.second-float-btn:hover
	{
		background: #023859;
	}

	.second-float-btn .btn-icon
	{
		font-size: 1.5rem;
	}

	.second-float-btn > *
	{
		font-size: 0.8rem;
		color: #FCFCFC;
	}

.info-area
{
	position: relative;
	width: 100%;
	height: 400px;
}

.background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.guide-area
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(18, 18, 18, 0.5);
	padding: 20px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
}

.guide-unit
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.guide-icon, .guide-text
{
	color: #FCFCFC;
	margin-bottom: 5px;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	overflow-y: auto;
}

.area-divider
{
	width: 100%;
	height: 100%;
}

.no-padding
{
	padding: 0;
}

#form-area
{
	width: 100%;
	padding: 50px 10% 100px 10%;
}

	#form-area *
	{
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background: inherit;
		width: inherit;
	}

.product-cover
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.product-info
{
	padding: 20px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

	.product-info::before, .product-info::after
	{
		content: '';
		flex: 1;
	}

.thumbnail-image
{
	width: 50%;
	max-width: 200px;
	object-fit: contain;
	border-radius: 0.25rem;
}

@media all and (min-width: 768px)
{
	.thumbnail-image
	{
		width: 100%;
		max-width: 260px;
		object-fit: contain;
		border-radius: 0.25rem;
	}

	.product-info
	{
		max-height: 100%;
		padding: 20px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
	}
}

.title-area
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 0.25rem;
	padding: 10px;
}

.product-title, .product-subtitle
{
	color: #FCFCFC;
}

.product-title
{
	max-width: 100%;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 10px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-subtitle
{
	max-width: 100%;
	font-size: 1.2rem;
	text-align: center;
}

.info-section
{
	margin-top: 10px;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 2px solid #FCFCFC;
	color: #FCFCFC;
	white-space: nowrap;
}

	.info-section:last-child
	{
		margin-bottom: 10px;
	}

.info-list
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 5px 20px 5px 20px;
}

.info-label
{
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FCFCFC;
}

.info-item
{
	margin-bottom: 10px;
	font-size: 1.0rem;
	white-space: nowrap;
}
