﻿@{
	ViewData["DATA"] = "ManageUser";
	ViewData["TITLE"] = "회원관리";
	string[] banks = new string[]
	{
		"국민",
		"신한",
		"우리",
		"하나",
		"농협",
		"수협",
		"신협",
		"산업",
		"기업",
		"토스",
		"카카오"
	};
}

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel="stylesheet" href="~/views/admin/manage-user.css" />
<script src="~/views/admin/manage-user.js"></script>

<input type="hidden" id="error-action" value="@ResourceMapper.GetActionResource("Error")" />
<input type="hidden" id="access-denied-action" value="@ResourceMapper.GetActionResource("AccessDenied")" />
<input type="hidden" id="page-not-found-action" value="@ResourceMapper.GetActionResource("PageNotFound")" />
<div id="popup-container">
	<div id="popup-user-info" class="popup">
		<input type="hidden" id="user-id" />
		<span class="title">
			회원정보 변경
		</span>
		<button id="close-popup-user-info" class="cancel-btn">
			<span class="btn-icon fas fa-times"></span>
		</button>
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-12">
					<label>
						아이디
					</label>
					<input type="text" id="user-username" class="form-control" disabled />
				</div>
				<div class="form-group col-12 col-md-4">
					<label>
						이름
					</label>
					<input type="text" id="user-name" class="form-control" />
				</div>
				<div class="form-group col-12 col-md-4">
					<label>
						휴대폰 번호
					</label>
					<input type="number" id="user-phone" class="form-control" placeholder="'-' 없이 입력" />
				</div>
				<div class="form-group col-12 col-md-4">
					<label>
						생년월일
					</label>
					<input type="date" id="user-birthday" class="form-control" />
				</div>
				<div class="form-group col-12 col-md-7">
					<label>
						주소
					</label>
					<input type="text" id="user-address" class="form-control" />
				</div>
				<div class="form-group col-12 col-md-5">
					<label>
						예금주명
					</label>
					<input type="text" id="user-billing-name" class="form-control" />
				</div>
				<div class="form-group col-12 col-md-4">
					<label>
						은행
					</label>
					<select id="user-billing-bank" class="form-control">
						@foreach (var bank in banks)
						{
							<option value="@bank">@bank</option>
						}
					</select>
				</div>
				<div class="form-group col-12 col-md-8">
					<label>
						계좌번호
					</label>
					<input type="text" id="user-billing-number" class="form-control" />
				</div>
				<div class="form-group col-12">
					<button id="save-user-info" class="btn">
						<span class="btn-icon fas fa-save"></span>
						<span class="btn-text">
							저장하기
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="popup-user-history" class="popup">
		<span class="title">
			회원활동 기록
		</span>
		<button id="close-popup-user-history" class="cancel-btn">
			<span class="btn-icon fas fa-times"></span>
		</button>
		<div id="user-history" class="form-control"></div>
	</div>
</div>
<div class="page-back">
	<button class="btn second go-back">
		<span class="fa fa-arrow-left btn-icon"></span>
		<span class="btn-text">
			이전 페이지
		</span>
	</button>
</div>
<div class="search-area">
	<select class="form-control search-option">
		<option value="0">이름</option>
		<option value="1">아이디</option>
		<option value="2">전화번호</option>
	</select>
	<div class="search-bar-second search-user">
		<input type="search" class="form-control search-text-admin" placeholder="검색어 입력" />
		<button class="btn second user-search-btn">
			<span class="fa fa-search"></span>
		</button>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-borderless table-striped">
		<thead>
			<tr>
				<th class="d-table-cell">
					<span class="table-header">
						아이디
					</span>
				</th>
				<th class="d-none d-md-table-cell">
					<span class="table-header">
						마지막 접속
					</span>
				</th>
				<th class="d-table-cell">
					<span class="table-header">
						상태
					</span>
				</th>
				<th class="d-none d-xl-table-cell">
					<span class="table-header">
						마케팅 수신 동의
					</span>
				</th>
				<th class="d-table-cell">
					<span class="table-header">
						이름
					</span>
				</th>
				<th class="d-none d-md-table-cell">
					<span class="table-header">
						휴대폰 번호
					</span>
				</th>
				<th class="d-none d-xl-table-cell">
					<span class="table-header">
						주소
					</span>
				</th>
				<th class="d-none d-xl-table-cell">
					<span class="table-header">
						생년월일
					</span>
				</th>
				<th class="d-table-cell">
					<span class="table-header">
						작업
					</span>
				</th>
			</tr>
		</thead>
		<tbody class="user-list">
		</tbody>
	</table>
</div>