﻿@{
	ViewData["DATA"] = "SendMessage";
	ViewData["TITLE"] = "문자 발송";

	Layout = null;
	List<User> users = ViewBag.Users;
}

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="
		width=device-width,
		initial-scale=1.0,
		maximum-scale=1.0,
		minimum-scale=1.0,
		user-scalable=no" />
	<title>낭만투어 - @ViewData["TITLE"]</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/dist/css/fontawesome.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.css" />
	<link rel="stylesheet" href="~/lib/chart/dist/chart.css" />
	<link rel="stylesheet" href="~/lib/air-datepicker/dist/css/datepicker.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/fontawesome/dist/js/fontawesome.js"></script>
	<script src="~/lib/hammer/dist/hammer.js"></script>
	<script src="~/lib/jquery-hammer/dist/jquery.hammer.js"></script>
	<script src="~/lib/hammer-propagation/dist/hammer.propagation.js"></script>
	<script src="~/lib/chart/dist/chart.js"></script>
	<script src="~/lib/air-datepicker/dist/js/datepicker.js"></script>
	<script src="~/lib/air-datepicker/dist/js/i18n/datepicker.ko.js"></script>

	<link rel="stylesheet" href="~/shared/css/reset.css" />
	<link rel="stylesheet" href="~/shared/css/layout.css" />
	<link rel="stylesheet" href="~/shared/css/theme.css" />
	<link rel="stylesheet" href="~/shared/css/fonts.css" />

	<script src="~/shared/js/common.js"></script>
	<script src="~/shared/js/ui.js"></script>

	<meta name="format-detection" content="telephone=no" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	<script src="~/lib/bootstrap-input-spinner/dist/js/bootstrap-input-spinner.js"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<link rel="stylesheet" href="~/views/admin/send-message.css" />
	<script src="~/views/admin/send-message.js"></script>
</head>
<body>
	<div class="container">
		<span class="title">@ViewData["TITLE"]</span>
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-12 col-md-6">
					<label>발송대상</label>
					<div class="input-bundle">
						<select id="message-contact" class="form-control multiple-select" multiple data-live-search="true" data-selected-text-format="count">
							@foreach (var user in users)
							{
								<option value="@user.Phone">@user.Name - @user.Phone</option>
							}
						</select>
						<button id="select-all-users" class="btn">
							<span class="btn-text">
								전체선택
							</span>
						</button>
					</div>
				</div>
				<div class="form-group col-12 col-md-6">
					<label>제목</label>
					<input type="text" id="message-subject" class="form-control" />
				</div>
				<div class="form-group col-12">
					<label>내용</label>
					<textarea id="message-content" class="form-control"></textarea>
				</div>
				<div class="form-group col-12">
					<button id="send-message" class="btn" disabled>
						<span class="btn-icon fas fa-paper-plane"></span>
						<span class="btn-text">
							문자발송
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>