﻿.full-screen-area
{
	width: 100%;
	height: 100%;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
{
	.shadow-box
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: rgba(18, 18, 18, 0.8);
	}
}

.search-area
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 80%;
	border-radius: 0.25rem;
	border: 1px solid #FCFCFC;
}

@media all and (min-width: 768px)
{
	.search-area
	{
		width: 50%;
	}
}

.search-area::-webkit-scrollbar
{
	width: 0;
}

.search-area .form-group
{
	width: 100%;
}

.form-group label
{
	color: #FCFCFC;
	margin-bottom: 5px;
}

.form-group .form-control
{
	background: rgba(2, 56, 89, 0.1);
	color: #FCFCFC;
	font-size: 1.2rem;
}

.form-control, .form-group > .form-control::-webkit-input-placeholder
{
	color: #FCFCFC;
	-webkit-appearance: none;
}

.form-group > .btn
{
	border: 1px solid #FCFCFC;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 42.8px;
}

.input-text:focus
{
	color: #FCFCFC;
}

.input-bundle
{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	color: #FCFCFC;
	margin: 0px;
}

#phone, #code
{
	width: 75%;
}

#validate-phone, #challenge
{
	width: 25%;
	margin-left: 10px;
	transition: border 0.3s, box-shadow 0.3s;
}

#validate-phone > .btn-text, #challenge > .btn-text
{
	color: #FCFCFC;
	transition: color 0.3s;
}

#validate-phone:not(:disabled):hover, #challenge:not(:disabled):hover
{
	border: 1px solid #F2B705;
	box-shadow: 0px 0px 10px #F2B705;
}

#validate-phone:not(:disabled):hover > .btn-text, #challenge:not(:disabled):hover > .btn-text
{
	color: #F2B705;
}

#validation-code, #password-area, #confirm-password-area
{
	display: none;
}