﻿.full-screen-area
{
	width: 100%;
	height: 100%;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
{
	.shadow-box
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: rgba(18, 18, 18, 0.8);
	}
}

.text-area
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 80%;
	padding: 30px;
}

.text-container
{
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
}

.text-title
{
	color: #FCFCFC;
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.text-sub
{
	color: #FCFCFC;
	font-size: 1.5rem;
	text-align: right;
	padding: 0 0 0 30px;
}

.line
{
	width: 1px;
	height: 55%;
	border: 1px solid #FCFCFC;
	margin: 30px;
}

.login-area
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 90%;
	height: 90%;
}

@media all and (min-width: 768px)
{
	.login-area
	{
		width: 50%;
		height: 90%;
	}
}

.login-form
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	width: 100%;
	border-radius: 0.25rem;
	border: 1px solid #FCFCFC;
}

.login-form .form-group
{
	width: 100%;
}

.form-group label
{
	color: #FCFCFC;
	margin-bottom: 5px;
}

.form-group .form-control
{
	background: rgba(2, 56, 89, 0.1);
}

.form-group .form-control::placeholder
{
	color: #FCFCFC;
}

.form-group > .btn
{
	border: 1px solid #FCFCFC;
}

.form-control, .form-group > .form-control::-webkit-input-placeholder,
.numeric-updown > *, .form-control:focus
{
	color: #FCFCFC;
	-webkit-appearance: none;
}

.third
{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.third > *
{
	color: #FCFCFC;
	font-size: 1.3rem;
}

.third:hover > *
{
	color: #F2B705;
}

.button-group
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.division-text
{
	width: 100%;
	white-space: nowrap;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FCFCFC;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.link-text
{
	font-size: 1.2rem;
	color: #FCFCFC;
	transition: color 0.3s, text-shadow 0.3s;
	cursor: pointer;
}

.link-text:hover
{
	color: #F2B705;
	text-shadow: 0 0 10px #F2B705;
}