﻿.full-screen-area
{
	width: 100%;
	height: 100%;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
{
	.shadow-box
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: rgba(18, 18, 18, 0.8);
	}
}


.my-page-area
{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: absolute;
}

.profile-area
{
	width: 260px;
	height: 260px;
	background: linear-gradient(30deg, rgb(1, 15, 59) 1%, rgb(2, 56, 89) 90%);
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	top: 100px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

@media all and (min-width: 768px)
{
	.profile-area
	{
		left: 100px;
	}
}

.time-icon
{
	font-size: 5.0rem;
	color: #F2B705;
	margin-bottom: 20px;
}

.greeting, .user-name
{
	font-size: 1.8rem;
	white-space: nowrap;
	color: #FCFCFC;
	margin-bottom: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.tool-area
{
	width: 100%;
	background: rgba(252, 252, 252, 0.8);
	position: absolute;
	top: 280px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.tool-container
{
	width: 100%;
	height: 100%;
	padding: 15px;
}

.tool-container > .row
{
	margin: 0;
}

.tool-box-container
{
	padding: 10px;
}

.tool-box
{
	width: 100%;
	height: 380px;
	background: #FCFCFC;
	border-radius: 0.25rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 60px 30px 30px 30px;
}

.menu-title
{
	position: absolute;
	top: 30px;
	font-size: 1.6rem;
	color: rgb(2, 56, 89);
}

@media all and (max-width: 767px)
{
	.tool-box-container:first-child
	{
		margin-top: 100px;
	}
}

@media all and (min-width: 768px)
{
	.tool-box-container:first-child,
	.tool-box-container:nth-child(2)
	{
		margin-top: 100px;
	}
}

@media all and (min-width: 1200px)
{
	.tool-box-container:first-child,
	.tool-box-container:nth-child(2),
	.tool-box-container:nth-child(3)
	{
		margin-top: 100px;
	}
}

@media all and (max-width: 1199px)
{
	#terms-agreement
	{
		height: 200px;
	}

	#unregister
	{
		height: 300px;
	}
}

.my-page-form-group
{
	width: 100%;
	margin: 5px;
}

.my-page-form-group > label
{
	color: rgb(2, 56, 89);
}

.my-page-form-group > .form-control
{
	border: 1px solid rgb(2, 56, 89);
	color: rgb(2, 56, 89);
	font-size: 1.2rem;
	background: #FCFCFC;
}

.my-page-form-group > .btn
{
	width: 100%;
	background: rgb(2, 56, 89);
	transition: background 0.3s;
}

.my-page-form-group > .btn > .btn-text
{
	font-size: 1.2rem;
	color: #FCFCFC;
}

.my-page-form-group > .btn:not(:disabled):hover
{
	background: #0378A6;
}

.my-page-form-group > .btn:disabled:hover
{
	cursor: not-allowed;
}

#verification-form
{
	display: none;
}

#unregister > .menu-title
{
	color: #F29544;
}

#unregister > .my-page-form-group > .btn
{
	width: 100%;
	background: #F29544;
	transition: background 0.3s;
}

#unregister > .my-page-form-group > .btn:not(:disabled):hover
{
	background: #FFB53D;
}

#unregister > .my-page-form-group > .btn > .btn-text
{
	font-size: 1.2rem;
	color: #FCFCFC;
}

.my-page-form-group > .input-bundle
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.my-page-form-group > .input-bundle > .form-control
{
	border: 1px solid rgb(2, 56, 89);
	color: rgb(2, 56, 89);
	font-size: 1.2rem;
	margin-right: 10px;
}

.my-page-form-group > .input-bundle > .btn
{
	width: 120px;
	height: 42.8px;
	background: rgb(2, 56, 89);
	transition: background 0.3s, border 0.3s;
}

.my-page-form-group > .input-bundle > .btn > .btn-text
{
	font-size: 1.2rem;
	color: #FCFCFC;
	transition: color 0.3s;
}

.my-page-form-group > .input-bundle > .btn:not(:disabled):hover
{
	background: #FCFCFC;
	border: 1px solid rgb(2, 56, 89);
}

.my-page-form-group > .input-bundle > .btn:not(:disabled):hover > .btn-text
{
	color: rgb(2, 56, 89);
}

.form-check
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.form-check-input
{
	appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	width: 18px;
	height: 18px;
	margin-top: -1px;
	margin-left: -20px;
}

.form-check-label
{
	font-size: 1.2rem;
}
