.full-screen-area
{
	width: 100%;
	height: 100%;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.my-page-area
{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: absolute;
}

.profile-area
{
	width: 280px;
	height: 280px;
	background: rgb(2, 56, 89);
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	top: 100px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

@media all and (min-width: 1200px)
{
	.profile-area
	{
		left: 100px;
	}
}

.user-name
{
	font-size: 2.0rem;
	white-space: nowrap;
	color: #FCFCFC;
}

.tool-area
{
	width: 100%;
	background: rgba(252, 252, 252, 0.8);
	position: absolute;
	top: 280px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.tool-container
{
	width: 100%;
}

.tool-box-container
{
	padding: 30px;
}

.tool-box
{
	width: 100%;
	height: 400px;
	background: #FCFCFC;
	border-radius: 0.25rem;
}