﻿.full-screen-area
{
	width: 100%;
	height: 100%;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
{
	.shadow-box
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: rgba(18, 18, 18, 0.8);
	}
}

.register-area
{
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	width: 90%;
	max-width: 600px;
	height: 90%;
	max-height: 600px;
	background: #FCFCFC;
	border-radius: 0.25rem;
}

.title
{
	width: 100%;
	font-size: 1.8rem;
	color: #023859;
	position: absolute;
	top: 30px;
	left: 30px;
}

.form-area
{
	width: 90%;
	height: calc(100% - 100px);
	position: absolute;
	top: 70px;
}

.step-indicator
{
	width: 100%;
	height: 70px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

@supports not (-ms-ime-align: auto)
{
	.step-indicator
	{
		justify-content: space-evenly
	}
}


.indication-dot
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.indication-number
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #010F3B;
	color: #FCFCFC;
	font-size: 1.4rem;
	margin: 0px;
	margin-bottom: 5px;
	transition: background 0.3s;
}

.indication-text
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: #010F3B;
	font-size: 1.15rem;
	margin: 0px;
	transition: color 0.3s;
}

.form-divider
{
	display: none;
	flex-flow: column;
	align-items: center;
	height: calc(100% - 50px);
	overflow-y: auto;
	padding: 5px;
}

.form-divider::before, .form-divider::after
{
	content: '';
	flex: 1;
}

.indication-dot.activated > .indication-number
{
	background: #0378A6;
}

.indication-dot.activated > .indication-text
{
	color: #0378A6;
}

.enabled
{
	display: flex;
}

.form-group
{
	width: 100%;
}

.form-group .form-control
{
	border: 1px solid #023859;
	font-size: 1.0rem;
}

.form-group > .btn
{
	width: 100%;
	background: #023859;
	transition: background 0.3s;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.form-group > .btn > .btn-icon, .form-group > .btn > .btn-text
{
	color: #FCFCFC;
}

.form-group > .btn:not(:disabled):hover
{
	background: #0378A6;
}

.input-bundle
{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	color: #FCFCFC;
	margin: 0px;
}

.input-bundle > .form-control
{
	width: 100%;
}

.input-bundle > .btn
{
	margin-left: 10px;
	width: 100px;
	height: 38px;
}

.form-group label
{
	color: #023859;
	margin-bottom: 5px;
}

#validation-code
{
	display: none;
}

#terms
{
	width: 100%;
	height: 250px;
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	border: 1px solid #023859;
	border-radius: 0.25rem;
	padding: 5px;
}

#terms > span
{
	width: 100%;
	height: auto;
	font-family: 'Dohyun', 'sans-serif';
	letter-spacing: -1px;
	flex-shrink: 0;
}

#terms > .head-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

#terms > .title-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#terms > .bold-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#terms > .normal-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0rem;
	font-weight: normal;
}

#terms > .warning-text
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0rem;
	font-weight: bold;
	color: #D92929;
	font-weight: normal;
	margin-top: 10px;
}

.form-check
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.form-check-input
{
	width: 18px;
	height: 18px;
	margin-top: -0.5rem;
	margin-left: -1.3rem;
	background: #FCFCFC;
	border: 1px solid #023859;
	border-radius: 0.25rem;
	transition: background 0.3s;
	outline: none;
}

.form-check-input:checked
{
	background: #0378A6;
	border: none;
}

.form-check-input:checked::after
{
	position: relative;
	content: "\2713";
	color: #FCFCFC;
	font-size: 0.8rem;
	font-weight: bold;
	top: 0rem;
	left: 0.21rem;
}

@supports (-webkit-touch-callout: none)
{
	.form-check-input
	{
		margin-top: -0.25rem;
		margin-left: -1.3rem;
	}

	.form-check-input:checked::after
	{
		font-size: 1.1rem;
		top: 0.08rem;
		left: 0.26rem;
	}
}

.form-check-label
{
	font-size: 1.1rem;
}

.next-step > .btn-text
{
	margin-right: 5px;
}

#create-account > .btn-icon
{
	margin-right: 5px;
}