.full-screen-area
{
	width: 100%;
	height: 100%;
}

.carousel, .carousel-inner, .carousel-item
{
	width: 100%;
	height: 100%;
}

.background-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow-box
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.register-area
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
	height: 90%;
}

.register-form
{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 30px;
	width: 100%;
	max-width: 640px;
	overflow-y: auto;
	border-radius: 0.25rem;
	border: 1px solid #FCFCFC;
}

	.register-form::before, .register-form::after
	{
		content: '';
		flex: 1;
	}

	.register-form::-webkit-scrollbar
	{
		width: 0;
	}

	.register-form .form-group
	{
		width: 100%;
	}

.form-group label
{
	color: #FCFCFC;
	margin-bottom: 5px;
}

.form-group .form-control
{
	background: rgba(2, 56, 89, 0.1);
	font-size: 1.0rem;
}

.form-group > .btn
{
	border: 1px solid #FCFCFC;
}

.form-control, .form-group > .form-control::-webkit-input-placeholder,
.numeric-updown > *, .form-control:focus
{
	color: #FCFCFC;
	-webkit-appearance: none;
}

.third
{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

	.third > *
	{
		color: #FCFCFC;
		font-size: 1.3rem;
	}

	.third:hover > *
	{
		color: #F2B705;
	}

.form-email
{
	display: flex;
	flex-flow: row nowrap;
}

#verify-email
{
	width: 120px;
	margin-left: 10px;
	border: 1px solid #FCFCFC;
	transition: color 0.3s, box-shadow 0.3s, border 0.3s;
}

	#verify-email:hover:enabled
	{
		color: #F2B705;
		border: 1px solid #F2B705;
		box-shadow: 0px 0px 10px #F2B705;
	}

	#verify-email:hover:disabled
	{
		color: #FCFCFC;
	}