﻿#container
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #FCFCFC;
}

.top-menu
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.navbar
{
	padding: 10px 10px 10px 10px;
}

.navbar-brand
{
	margin-right: 0;
}

.navbar-collapse
{
	padding: 5px;
}

.nav-item
{
	padding: 10px 0px 10px 0px;
}

.user-area
{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

@supports not (-ms-ime-align: auto)
{
	.user-area
	{
		justify-content: space-evenly
	}
}

.user-area > .btn
{
	display: flex;
	flex-flow: column;
	align-items: center;
}

#loading
{
	display: none;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

article
{
	position: absolute;
	width: 100%;
}
