﻿@{
	ViewData["DATA"] = "FindMyPassword";
	ViewData["TITLE"] = "비밀번호 재설정";
	string Back = ViewBag.Back;
}

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<link rel="stylesheet" href="~/views/user/find-my-password.css" />
<script src="~/views/user/find-my-password.js"></script>

<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="search-area">
			<div class="form-group">
				<label>휴대폰 번호</label>
				<div class="form-group input-bundle">
					<input type="tel" id="phone" class="form-control" placeholder="'-' 없이 입력" />
					<button id="validate-phone" class="btn third" disabled>
						<span class="btn-text">
							인증
						</span>
					</button>
				</div>
			</div>
			<div id="validation-code" class="form-group">
				<label>인증번호 [03:00]</label>
				<div class="form-group input-bundle">
					<input type="tel" id="code" class="form-control" maxlength="6" placeholder="6자리 입력" />
					<button id="challenge" class="btn third" disabled>
						<span class="btn-text">
							확인
						</span>
					</button>
				</div>
			</div>
			<div id="password-area" class="form-group">
				<label>새 비밀번호</label>
				<input type="password" id="new-password" class="form-control" />
			</div>
			<div id="confirm-password-area" class="form-group">
				<label>비밀번호 확인</label>
				<input type="password" id="confirm-password" class="form-control" />
			</div>
			<div class="form-group d-flex flex-row">
				<button id="change-password" class="btn form-control" type="submit" disabled>
					<span class="btn-text">
						비밀번호 재설정
					</span>
				</button>
			</div>
		</div>
	</div>
</div>