@{
	ViewData["DATA"] = "Login";
	ViewData["TITLE"] = "로그인";
}

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<link rel="stylesheet" href="~/views/user/login.css" />
<script src="~/views/user/login.js"></script>

<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="text-area d-none d-md-flex">
			<div class="text-container">
				<span class="text-title">
					여행은 즐기는거야!
				</span>
				<span class="text-sub">
					당신의 여행은 어디에 있나요? 당신의 취향에 맞는 여행을 찾아보세요!
				</span>
			</div>
		</div>
		<div class="line d-none d-md-block"></div>
		<div class="login-area">
			<form class="login-form">
				<div class="form-group">
					<label>아이디 또는 휴대폰 번호</label>
					<input type="text" class="form-control id" placeholder="아이디 또는 휴대폰 번호" />
				</div>
				<div class="form-group">
					<label>비밀번호</label>
					<input type="password" class="form-control password" placeholder="비밀번호" />
				</div>
				<div class="form-group button-group">
					<button class="btn third check-account" type="submit" disabled>
						<span class="btn-text">
							로그인
						</span>
					</button>
					<span class="division-text">또는</span>
					<button class="btn third register" type="submit">
						<span class="btn-text">
							회원가입
						</span>
					</button>
				</div>
				<span id="forgot-password" class="link-text">비밀번호를 잊어버리셨나요?</span>
			</form>
		</div>
	</div>
</div>