﻿@{
	ViewData["DATA"] = "Mypage";
	ViewData["TITLE"] = "마이페이지";
	User user = Model;
	string[] banks = new string[]
	{
		"국민",
		"신한",
		"우리",
		"하나",
		"농협",
		"수협",
		"신협",
		"산업",
		"기업",
		"토스",
		"카카오"
	};
}

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<link rel="stylesheet" href="~/views/user/mypage.css" />
<script src="~/views/user/mypage.js"></script>
<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="my-page-area">
			<div class="profile-area">
				@{
					var now = DateTime.Now;
					var nowMonth = now.Month;
					var nowDate = now.DayOfWeek;
					var nowHour = now.Hour;
					// 주말
					if (nowDate == DayOfWeek.Saturday || nowDate == DayOfWeek.Sunday)
					{
						// 아침
						if (nowHour >= 6 && nowHour <= 10)
						{
							<span class="time-icon fas fa-sun"></span>
							<span class="greeting">
								좋은 아침입니다
							</span>
							<span class="user-name">
								@(user.Name)님!
							</span>
						}
						// 점심
						else if (nowHour >= 11 && nowHour <= 14)
						{
							<span class="time-icon fas fa-utensils"></span>
							<span class="user-name">
								@(user.Name)님
							</span>
							<span class="greeting">
								식사는 하셨나요?
							</span>
						}
						// 오후 (여행)
						else if (nowHour >= 15 && nowHour <= 20)
						{
							// 봄
							if (nowMonth >= 3 && nowMonth <= 5)
							{
								<span class="time-icon fas fa-walking"></span>
								<span class="user-name">
									@(user.Name)님!
								</span>
								<span class="greeting">
									우리 같이 나들이
								</span>
								<span class="greeting">
									어떠세요?
								</span>
							}
							// 여름
							else if (nowMonth >= 6 && nowMonth <= 8)
							{
								<span class="time-icon fas fa-swimmer"></span>
								<span class="user-name">
									@(user.Name)님!
								</span>
								<span class="greeting">
									날도 더운데
								</span>
								<span class="greeting">
									바다 어때요?
								</span>
							}
							// 가을
							else if (nowMonth >= 9 && nowMonth <= 11)
							{
								<span class="time-icon fas fa-hiking"></span>
								<span class="user-name">
									@(user.Name)님!
								</span>
								<span class="greeting">
									우리 같이 단풍
								</span>
								<span class="greeting">
									보러갈래요?
								</span>
							}
							// 겨울
							else if (nowMonth >= 12 && nowMonth <= 2)
							{
								<span class="time-icon fas fa-skiing"></span>
								<span class="user-name">
									@(user.Name)님!
								</span>
								<span class="greeting">
									스키 타보신 적
								</span>
								<span class="greeting">
									있으신가요?
								</span>
							}
						}
						// 밤 (안부)
						else if (nowHour >= 21 || nowHour <= 0)
						{
							<span class="time-icon fas fa-moon"></span>
							<span class="user-name">
								@(user.Name)님
							</span>
							<span class="greeting">
								오늘 하루는
							</span>
							<span class="greeting">
								어땠나요?
							</span>
						}
						// 새벽
						else if (nowHour >= 1 && nowHour <= 5)
						{
							<span class="time-icon fas fa-star"></span>
							<span class="user-name">
								@(user.Name)님!
							</span>
							<span class="greeting">
								이 새벽에
							</span>
							<span class="greeting">
								어쩐 일이세요?
							</span>
						}
						// 기타
						else
						{
							<span class="time-icon fas fa-smile-wink"></span>
							<span class="user-name">
								@(user.Name)님
							</span>
							<span class="greeting">
								어서오세요!
							</span>
						}
					}
					// 주중
					else
					{
						// 아침
						if (nowHour >= 6 && nowHour <= 10)
						{
							<span class="time-icon fas fa-sun"></span>
							<span class="greeting">
								좋은 아침입니다
							</span>
							<span class="user-name">
								@(user.Name)님!
							</span>
						}
						// 점심
						else if (nowHour >= 11 && nowHour <= 14)
						{
							<span class="time-icon fas fa-utensils"></span>
							<span class="user-name">
								@(user.Name)님
							</span>
							<span class="greeting">
								식사는 하셨나요?
							</span>
						}
						// 오후 (일)
						else if (nowHour >= 15 && nowHour <= 18)
						{
							<span class="time-icon fas fa-briefcase"></span>
							<span class="greeting">
								힘내세요
							</span>
							<span class="user-name">
								@(user.Name)님!
							</span>
						}
						// 저녁 (집)
						else if (nowHour >= 19 && nowHour <= 20)
						{
							<span class="time-icon fas fa-home"></span>
							<span class="greeting">
								오늘도
							</span>
							<span class="greeting">
								고생 많으셨어요
							</span>
							<span class="user-name">
								@(user.Name)님!
							</span>
						}
						// 밤
						else if (nowHour >= 21 || nowHour <= 0)
						{
							<span class="time-icon fas fa-moon"></span>
							<span class="user-name">
								@(user.Name)님
							</span>
							<span class="greeting">
								좋은 밤입니다!
							</span>
						}
						// 새벽
						else if (nowHour >= 1 && nowHour <= 5)
						{
							<span class="time-icon fas fa-star"></span>
							<span class="user-name">
								@(user.Name)님!
							</span>
							<span class="greeting">
								이 새벽에
							</span>
							<span class="greeting">
								어쩐 일이세요?
							</span>
						}
						// 기타
						else
						{
							<span class="time-icon fas fa-smile-wink"></span>
							<span class="user-name">
								@(user.Name)님
							</span>
							<span class="greeting">
								어서오세요!
							</span>
						}
					}
				}
			</div>
			<div class="tool-area">
				<div class="tool-container container-fluid">
					<div class="row">
						<div class="tool-box-container col-12 col-md-6 col-xl-4">
							<div id="personal-info" class="tool-box">
								<span class="menu-title">개인정보</span>
								<div class="form-group my-page-form-group">
									<label>이름</label>
									<input type="text" id="name" class="form-control" value="@user.Name" />
								</div>
								<div class="form-group my-page-form-group">
									<label>주소</label>
									<input type="text" id="address" class="form-control" value="@user.Address" />
								</div>
								<div class="form-group my-page-form-group">
									<label>생년월일</label>
									<input type="date" id="birthday" class="form-control" value="@user.Birthday.ToShortDateString()" />
								</div>
								<div class="form-group my-page-form-group">
									<button id="change-personal-info" class="btn" disabled>
										<span class="btn-text">
											개인정보 변경
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="tool-box-container col-12 col-md-6 col-xl-4">
							<div id="phone-number" class="tool-box">
								<span class="menu-title">휴대폰 번호</span>
								<div class="form-group my-page-form-group">
									<label>기존 휴대폰 번호</label>
									<input type="text" class="form-control" value="@user.Phone" disabled />
								</div>
								<div class="form-group my-page-form-group">
									<label>새로운 휴대폰 번호</label>
									<div class="form-group input-bundle">
										<input type="text" id="new-phone-number" class="form-control" placeholder="'-' 없이 입력" />
										<button id="challenge" class="btn" disabled>
											<span class="btn-text">
												인증
											</span>
										</button>
									</div>
								</div>
								<div id="verification-form" class="form-group my-page-form-group">
									<label>인증번호 [03:00]</label>
									<div class="form-group input-bundle">
										<input type="tel" id="verification-code" class="form-control" placeholder="6자리 입력" />
										<button id="check-verification-code" class="btn" disabled>
											<span class="btn-text">
												확인
											</span>
										</button>
									</div>
								</div>
								<div class="form-group my-page-form-group">
									<button id="change-phone-number" class="btn" disabled>
										<span class="btn-text">
											휴대폰 번호 변경
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="tool-box-container col-12 col-md-5 col-xl-4">
							<div id="payment-info" class="tool-box">
								<span class="menu-title">결제정보</span>
								<div class="form-group my-page-form-group">
									<label>예금주명</label>
									<input type="text" id="billing-name" class="form-control" value="@user.BillingName" />
								</div>
								<div class="form-group my-page-form-group">
									<label>은행</label>
									<select id="billing-bank" class="form-control">
										@foreach (var bank in banks)
										{
											if (user.BillingBank == bank)
											{
												<option value="@bank" selected>@bank</option>
											}
											else
											{
												<option value="@bank">@bank</option>
											}
										}
									</select>
								</div>
								<div class="form-group my-page-form-group">
									<label>계좌번호</label>
									<input type="text" id="billing-number" class="form-control" value="@user.BillingNumber" />
								</div>
								<div class="form-group my-page-form-group">
									<button id="change-payment-info" class="btn" disabled>
										<span class="btn-text">
											결제정보 변경
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="tool-box-container col-12 col-md-7 col-xl-4">
							<div id="password" class="tool-box">
								<span class="menu-title">비밀번호</span>
								<div class="form-group my-page-form-group">
									<label>이전 비밀번호</label>
									<input type="password" id="old-password" class="form-control" />
								</div>
								<div class="form-group my-page-form-group">
									<label>새 비밀번호</label>
									<input type="password" id="new-password" class="form-control" />
								</div>
								<div class="form-group my-page-form-group">
									<label>비밀번호 확인</label>
									<input type="password" id="confirm-password" class="form-control" />
								</div>
								<div class="form-group my-page-form-group">
									<button id="change-password" class="btn" disabled>
										<span class="btn-text">
											비밀번호 변경
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="tool-box-container col-12 col-xl-4">
							<div id="terms-agreement" class="tool-box">
								<span class="menu-title">광고성 정보 수신 동의</span>
								<div class="form-group my-page-form-group">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="allow-marketing-promotions" @(user.AllowMarketingPromotions ? "checked" : "")>
										<label class="form-check-label" for="allow-marketing-promotions">광고성 정보 수신에 동의합니다.</label>
									</div>
								</div>
								<div class="form-group my-page-form-group">
									<button id="change-agreement" class="btn" disabled>
										<span class="btn-text">
											저장하기
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="tool-box-container col-12 col-xl-4">
							<div id="unregister" class="tool-box">
								<span class="menu-title">회원 탈퇴</span>
								<div class="form-group my-page-form-group">
									<label>아이디</label>
									<input type="text" id="unregister-username" class="form-control" />
								</div>
								<div class="form-group my-page-form-group">
									<label>비밀번호</label>
									<input type="password" id="unregister-password" class="form-control" />
								</div>
								<div class="form-group my-page-form-group">
									<button id="do-unregister" class="btn" disabled>
										<span class="btn-text">
											회원탈퇴
										</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>