﻿@{
	ViewData["DATA"] = "Register";
	ViewData["TITLE"] = "회원가입";
	string[] banks = new string[]
	{
		"국민",
		"신한",
		"우리",
		"하나",
		"농협",
		"수협",
		"신협",
		"산업",
		"기업",
		"토스",
		"카카오"
	};
}

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel="stylesheet" href="~/views/user/register.css" />
<script src="~/views/user/register.js"></script>

<link rel="stylesheet" href="~/shared/css/full-screen.css" />
<div class="full-screen-area">
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="background-image" src="~/shared/img/1.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/2.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/3.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/4.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/5.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/6.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/7.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/8.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/9.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/10.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="background-image" src="~/shared/img/11.jpg" alt="First slide">
			</div>
		</div>
	</div>
	<div class="shadow-box">
		<div class="register-area">
			<span class="title">
				회원가입
			</span>
			<div class="form-area">
				<div class="step-indicator">
					<span id="primary-info-step" class="indication-dot activated">
						<span class="indication-number">1</span>
						<span class="indication-text">기본정보</span>
					</span>
					<span id="personal-info-step" class="indication-dot">
						<span class="indication-number">2</span>
						<span class="indication-text">개인정보</span>
					</span>
					<span id="payment-info-step" class="indication-dot">
						<span class="indication-number">3</span>
						<span class="indication-text">결제정보</span>
					</span>
					<span id="terms-and-conditions-step" class="indication-dot">
						<span class="indication-number">4</span>
						<span class="indication-text">이용약관</span>
					</span>
				</div>
				<div id="primary-info" class="form-divider enabled">
					<div class="form-group">
						<label>아이디</label>
						<input type="text" id="username" class="form-control" />
					</div>
					<div class="form-group">
						<label>비밀번호</label>
						<input type="password" id="password" class="form-control" />
					</div>
					<div class="form-group">
						<label>비밀번호 확인</label>
						<input type="password" id="confirm-password" class="form-control" />
					</div>
					<div class="form-group">
						<button class="btn next-step" disabled>
							<span class="btn-text">다음 단계로</span>
							<span class="btn-icon fas fa-arrow-right"></span>
						</button>
					</div>
				</div>
				<div id="personal-info" class="form-divider">
					<div class="form-group">
						<label>이름</label>
						<input type="text" id="name" class="form-control" />
					</div>
					<div class="form-group">
						<label>생년월일</label>
						<input type="date" id="birthday" class="form-control" />
					</div>
					<div class="form-group">
						<label>주소</label>
						<input type="text" id="address" class="form-control" />
					</div>
					<div class="form-group">
						<label>휴대폰 번호</label>
						<div class="form-group input-bundle">
							<input type="tel" id="phone" class="form-control" placeholder="'-' 없이 입력" />
							<button id="validate-phone" class="btn" disabled>
								<span class="btn-text">
									인증
								</span>
							</button>
						</div>
					</div>
					<div id="validation-code" class="form-group">
						<label>인증번호 [03:00]</label>
						<div class="form-group input-bundle">
							<input type="tel" id="code" class="form-control" placeholder="6자리 입력" />
							<button id="challenge" class="btn" disabled>
								<span class="btn-text">
									인증
								</span>
							</button>
						</div>
					</div>
					<div class="form-group">
						<button class="btn next-step" disabled>
							<span class="btn-text">다음 단계로</span>
							<span class="btn-icon fas fa-arrow-right"></span>
						</button>
					</div>
				</div>
				<div id="payment-info" class="form-divider">
					<div class="form-group">
						<label>예금주명</label>
						<input type="text" id="billing-name" class="form-control" />
					</div>
					<div class="form-group">
						<label>은행</label>
						<select id="billing-bank" class="form-control">
							@foreach (var bank in banks)
							{
								<option value="@bank">@bank</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label>계좌번호</label>
						<input type="text" id="billing-number" class="form-control" />
					</div>
					<div class="form-group">
						<button class="btn next-step" disabled>
							<span class="btn-text">다음 단계로</span>
							<span class="btn-icon fas fa-arrow-right"></span>
						</button>
					</div>
				</div>
				<div id="terms-and-conditions" class="form-divider">
					<div id="terms" class="form-group">
						@Html.Raw(TermsAndConditions.Document)
					</div>
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="allow-terms-and-conditions">
							<label class="form-check-label" for="allow-terms-and-conditions">(필수) 개인정보 수집 및 이용 약관에 동의합니다.</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="allow-marketing-promotions" disabled>
							<label class="form-check-label" for="allow-marketing-promotions">(선택) 광고성 정보 수신에 동의합니다.</label>
						</div>
					</div>
					<div class="form-group">
						<button id="create-account" class="btn" disabled>
							<span class="btn-icon fas fa-clipboard-check"></span>
							<span class="btn-text">회원가입</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>